@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin:0;
    padding:0;
    transition: 0.1s ease-in-out;
}

html, body {
    max-width:100vw;
    max-height:100vh;
    overflow:hidden;
}

body {
    background: url(gnome_wallpaper.jpg), #121212;
    background-size:1920px 1080px;
    background-position:center top;
    color:white;
    font-family:lato;
    user-select: none;
}
nav, aside {
    z-index:999;
}

nav {
    width:100vw;
    height:40px;
    background: rgba(0,0,0,0.6);
    top:0;
    left:0;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:40px 40px 40px 0px;
}
.zegar {
    height:80%;
    text-align:center;
    cursor:default;
    display:flex;
    align-items:center;
    border-radius:20px;
    user-select: none;
}

.zegar:hover {
    background:rgba(255,255,255,0.15);
}

.zegar span {
    font-size:17px;
    font-weight: bold;
    margin: 0 10px;
}

aside {
    height:calc(100vh - 40px);
    width:60px;
    background: rgba(0,0,0,0.6);
    bottom:0;
    display:flex;
    position:fixed;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    border-radius:0px 0px 40px 40px;
    top:40px;
}

aside input {
    display:none;
}

.app input {
    display:block;
}

aside label:not(.app label) {
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

aside label:hover:not(.app label) {
    background:rgba(255,255,255,0.15);
}

aside label img:not(.app label img) {
    width:40px;
    margin: 5px 0px;
}

.app {
    display:block;
    position:absolute;
    width:0px;
    height:0px;
    top:0;
    left:10px;
    background:#090911;
    opacity:0.2;
    transition: 0.3s ease-in-out, 0.3s transform ease-in-out 0.2s;
    box-shadow:0 0 5px black,
    0 0 10px black,
    0 0 15px black;
    transform:scale(0);
    z-index:1;
    border-radius:0px 0px 20px 20px;
    overflow:hidden;
    filter:blur(10px);
}

#firefox_app {
    top:10px;
}
#vivaldi_app {
    top:85px;
}
#nautilus_app {
    top:140px;
}
#terminal_app {
    top:195px;
}
#tweaks_app {
    top:calc(55px * 4 + 30px);
}
#obs_app {
    top:calc(55px * 5 + 30px);
}
#steam_app {
    top:calc(55px * 6 + 30px);
}
#discord_app {
    top:calc(55px * 7 + 30px);
}
#minecraft_app {
    top:calc(55px * 8 + 30px);
}
#lutris_app {
    top:calc(55px * 9 + 30px);
}
#visual_app {
    top:calc(55px * 10 + 30px);
}  

#firefox:checked ~ .firefox,
#vivaldi:checked ~ .vivaldi,
#nautilus:checked ~ .nautilus,
#terminal:checked ~ .terminal,
#tweaks:checked ~ .tweaks,
#obs:checked ~ .obs,
#steam:checked ~ .steam,
#discord:checked ~ .discord,
#minecraft:checked ~ .minecraft,
#lutris:checked ~ .lutris,
#visual:checked ~ .visual {
    background:rgba(255,255,255,0.12);
}

#firefox:checked:hover ~ .firefox,
#vivaldi:checked:hover ~ .vivaldi,
#nautilus:checked:hover ~ .nautilus,
#terminal:checked:hover ~ .terminal,
#tweaks:checked:hover ~ .tweaks,
#obs:checked:hover ~ .obs,
#steam:checked:hover ~ .steam,
#discord:checked:hover ~ .discord,
#minecraft:checked:hover ~ .minecraft,
#lutris:checked:hover ~ .lutris,
#visual:checked:hover ~ .visual {
    background:rgba(255,255,255,0.20);
}


#firefox:checked ~ .firefox #firefox_app,
#vivaldi:checked ~ .vivaldi #vivaldi_app,
#nautilus:checked ~ .nautilus #nautilus_app,
#terminal:checked ~ .terminal #terminal_app,
#tweaks:checked ~ .tweaks #tweaks_app,
#obs:checked ~ .obs #obs_app,
#steam:checked ~ .steam #steam_app,
#discord:checked ~ .discord #discord_app,
#minecraft:checked ~ .minecraft #minecraft_app,
#lutris:checked ~ .lutris #lutris_app,
#visual:checked ~ .visual #visual_app {
    opacity:1;
    width:calc(100vw - 60px);
    height:calc(100vh - 40px);
    bottom:0;
    left:60px;
    transform:scale(1);
    top:0px;
    filter:blur(0px);
}


#firefox_app {
    background:rgb(43, 42, 51);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}

#firefox_app .logo {
    display:flex;
    align-items:center;
    margin-top:-200px;

}

#firefox_app .logo img:nth-child(1) {
    width:80px;
}

#firefox_app .logo img:nth-child(2) {
    width:150px;
    margin-left:20px;
}

#firefox_app .google {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    position:absolute;
}

#firefox_app .google div {
    display:flex;
    align-items:center;
    border:none;
    background:#41414d;
    width: 70vw;
    height:50px;
    border-radius:10px;
}

#firefox_app .google div input {
    margin-left:30px;
    border:none;
    background:#41414d;
    width: 100%;
    height:50px;
    border-radius:10px;
    margin-left:50px;
    font-size:16px;
    color:white;
    padding-left:50px;
    margin-left:-10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#firefox_app .google div img {
    position:absolute;
    width:24px;
}



#vivaldi_app {
    background:url(vivaldi-background.jpg);
    background-size:150vw 100vh;
    background-position:center;
    flex-wrap:wrap;
    overflow-y:scroll;
}

#vivaldi_app .google {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}

#vivaldi_app .google div {
    display:flex;
    align-items:center;
    border:none;
    background:#41414d;
    width: 50vw;
    height:40px;
    border-radius:4px;
}

#vivaldi_app .google div input {
    margin-left:30px;
    border:none;
    background:#080808;
    width: 100%;
    height:40px;
    border-radius:4px;
    margin-left:50px;
    font-size:14px;
    color:goldenrod;
    margin-left:0px;
    padding-left:40px;
    transition: outline 0s;
}

#vivaldi_app .google div input:focus {
    outline:yellow 2px solid;
}

#vivaldi_app .google div img {
    position:absolute;
    margin:10px;
    width:20px;
}

#vivaldi_app .bookmarks {
    width:90vw;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin: 0 auto;
}
#vivaldi_app .bookmarks .zakladka {
    position:relative;
    width:250px;
    background:rgba(0,0,0,0.7);
    margin: 20px;
    height:100%;
}

#vivaldi_app .bookmarks .zakladka img {
    width:100%;
    margin-top:0px;
}

#vivaldi_app .bookmarks .zakladka p {
    display:block;
    text-align:center;
    margin-top:-10px;
    padding:5px;
    color:goldenrod;
    font-weight:bolder;
}




#nautilus_app {
    background:#292929;
}

#nautilus_app .menu {
    width:calc(100% - 20px);
    height:5%;
    top:0;
    position:absolute;
    margin-top:5px;
    display:flex;
    flex-direction: row;
    align-items:center;
}

#nautilus_app .menu label {
    padding:0 10px;
    height:30px;
    background:rgba(255,255,255,0.1);
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bolder;
    margin: 0 20px;
    border-radius:30px;
    color:#17f;
}

#nautilus_app .menu label:not(:first-child) {
    display:none;
    transform:scale(0);
}

#nautilus_app .glowne {
    height:calc(95% - 20px);
    width: 140px;
    background:rgba(50,70,120,0.24);
    border-radius:15px;
    margin:10px;
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    position:absolute;
    bottom:0;
}

#nautilus_app .glowne .element_glowny {
    width:80%;
    margin:0 auto;
    margin-top:15px;
    display:flex;
    align-items:center;
}

#nautilus_app .glowne .element_glowny:hover p {
    color:#17f !important;

}

#nautilus_app .glowne .element_glowny img {
    float:left;
    width:20px;
    margin-right:10px;
}

#nautilus_app .glowne .element_glowny p {
    font-size:15px;
    font-weight:bolder;
}

#nautilus_app .glowne .element_glowny:last-child p {
    background:#292929;
    padding:10px 60px 10px 10px;
    color:#17f;
    text-shadow: 0 0 1px #17f,
    0 0 1px #17f,
    0 0 1px #17f,
    0 0 1px #17f,
    0 0 1px #17f,
    0 0 1px #17f;
    border-radius:50px 0px 0px 50px;
}

#nautilus_app input {
    display:none;
}

#nautilus_app .menedzer {
    position:absolute;
    bottom:0;
    right:0;
    width:calc(100% - 200px);
    height:93.6%;
    display:none;
}

#nautilus_app .menedzer .element {
    width:70px;
    height:70px;
    margin:5px 40px 5px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    float:left;
}

#nautilus_app .menedzer .element img {
    width:50px;
}

#nautilus_app .menedzer .element p {
    word-wrap: normal;
    margin-top:-5px;
    font-weight:bolder;
    text-align:center;
}

#sprawdzian:checked ~ .menu .labelsprawdzian,
#snieg:checked ~ .menu .labelsnieg,
#www32:checked ~ .menu .labelwww32 {
    display:flex;
    transform:scale(1);
}
#html:checked ~ .html,
#sprawdzian:checked ~ .sprawdzian,
#snieg:checked ~ .snieg,
#www32:checked ~ .www32 {
    display:block;
}

#sprawdzian:checked ~ .menu .labelhtml,
#snieg:checked ~ .menu .labelhtml,
#www32:checked ~ .menu .labelhtml {
    background:none;
    color:white;
}

#sprawdzian:checked ~ .glowne .element_glowny:last-child p,
#snieg:checked ~ .glowne .element_glowny:last-child p,
#www32:checked ~ .glowne .element_glowny:last-child p {
    background:none;
    padding:0px 0px 0px 0px;
    color:white;
    text-shadow: none;
    border-radius:50px 0px 0px 50px;
}

.labelhtml:hover {
    background:rgba(255,255,255,0.2) !important;
}




#terminal_app {
    background:transparent;
    box-shadow: none;
    left:10px;    
}

#terminal_app .okno {
    width:70vw !important;
    height:70vh !important;
    background:url(252525.png);
    background-size:100% 50px !important;
    background-repeat:no-repeat;
    background-position: top;
    border-radius:20px 20px 5px 5px;
    left:80px;
    transition:none;
    cursor:grab;
    outline:solid 1px rgba(255,255,255,0.2);
    overflow:hidden;
}

#terminal_app .okno:active {
    cursor:grabbing;
}

#terminal_app .okno .tresc {
    width:100%;
    height:calc(100% - 50px);
    position:absolute;
    bottom:0;
    left:0;
    background: rgba(37,37,37,0.7);
    overflow:scroll;
}

#terminal_app .okno .tresc hr {
    height:1px;
    border:none;
    background: rgba(255,255,255,0.1);
}

#terminal_app .okno h1 {
    line-height:50px;
    text-align:center;
    font-size:17px;
    font-weight: bolder;
}

#terminal_app .okno .tresc span {
    font-size:20px;
}

.prefix {
    float:left;
    margin-right:20px;
}

#terminal_app .okno .tresc textarea {
    background:transparent;
    border:none;
    font-size:20px;
    color:white;
    margin-top:0px;
    text-align: distribute;
    line-height:20px;
    padding-top:4px;
    height:calc(100% - 50px);
    width:100%;
}

#terminal_app.okno  .tresc textarea:focus {
    outline:none;
}





#tweaks_app {
    background:#121212;
}

#tweaks_app .sidebar {
    height:100%;
    width:150px;
    background:#232323;
}

#tweaks_app .sidebar .logo {
    width:calc(100% - 1px);
    height:50px;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
}

#tweaks_app .sidebar .kategorie {
    height:calc(100% - 51px);
    width:149px;
    position:absolute;
    bottom:0;
    left:0;
    border-right:1px solid rgba(255,255,255,0.2);
}

.kategorie label {
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    border-radius:0px 30px 30px 0px;
    overflow:hidden;
}

.kategorie label b {
    margin-left:10px;
    z-index:1;
}

.kategorie label:hover {
    background: rgba(255,255,255,0.3)
}

.kategorie label .tlo {
    width:100%;
    height:50px;
    background:linear-gradient(90deg,transparent,rgba(0,30,95,0.3),rgba(0,30,95,0.3),transparent);
    background-repeat:no-repeat;
    background-size:0% 50px;
    background-position:center;
    position:absolute;
    border-radius: 0px 30px 30px 0px;
    transition: background-size 0.3s ease-in-out;
}

#ogolne:checked ~ .tweaks .app .sidebar .kategorie .ogolne,
#wyglad:checked ~ .tweaks .app .sidebar .kategorie .wyglad,
#czcionka:checked ~ .tweaks .app .sidebar .kategorie .czcionka {
    background: rgba(50,70,120,0.24);
}

#ogolne:checked ~ .tweaks .app .sidebar .kategorie .ogolne .tlo,
#wyglad:checked ~ .tweaks .app .sidebar .kategorie .wyglad .tlo,
#czcionka:checked ~ .tweaks .app .sidebar .kategorie .czcionka .tlo {
    background-size:200% 50px;
}

#ogolne:checked ~ .tweaks .app .sidebar .kategorie .ogolne b,
#wyglad:checked ~ .tweaks .app .sidebar .kategorie .wyglad b,
#czcionka:checked ~ .tweaks .app .sidebar .kategorie .czcionka b {
    color:#17f;
}
/* #czcionka:checked ~ * {
    display:none;
} */

#tweaks_app .tresc {
    width:calc(100% - 150px);
    height:100%;
    position:absolute;
    bottom:0;
    right:0;
    background: #232323;
}
#tweaks_app .kategoria {
    width:100%;
    height:100%;
}

#tweaks_app .ogolnekat {
    background:#321212;
    display:none
}

#tweaks_app .wygladkat {
    background:#123212;
    display:none
}

#tweaks_app .czcionkakat {
    background:#323212;
    display:none;
}

#ogolne:checked ~ .tweaks .app .tresc .ogolnekat,
#wyglad:checked ~ .tweaks .app .tresc .wygladkat,
#czcionka:checked ~ .tweaks .app .tresc .czcionkakat  {
    display: block;
}
